
*
 {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0.625rem;
	object-fit: fill;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
	background: url(./backgroud/background2.jpg) no-repeat center;
	background-size: cover;
	color:#fff;
	font-size: 1.5rem;
}

.slider-wrapper {
	width: 50rem;
  height: 35rem;
  padding: 1.25rem 1.85rem;
	background-color: #00000029;
	border-radius: 1rem;
	transition: width 0.5s ease;
	transition: height 0.5s ease;
}

.slider-container {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
                      "slides slides"
                      "text buttons";
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	row-gap: 1.5rem;
}

.slider-images {
  grid-area: slides;
	display: flex;
	height: 100%;
	width: 400%;
	overflow: hidden;
	box-shadow: 0 0px 0.5rem 0.3rem rgba(0, 0, 0, 0.47);
}

.slider-image {
	width: 25%;
	height: 100%;
	transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  display: none;
}

.slider-pick {
  grid-area: buttons;
	display: flex;
	justify-content: flex-end;
  z-index: 99
}

.slider-pick > label {
  cursor: pointer;
  padding: 0.7rem
}

.slider-pick > label:last-child {
  margin-right: 0;

}

.slider-pick-description {
  grid-area: text;
	overflow: hidden;
}
.slide-description-text {
  width: 400%;
  display: flex;
}
.text {
  width: 25%;
	transition: all 0.5s ease;
}

.mark {
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
  border: 0.125rem solid #ffffff8a;
}

#but1:checked ~ .slider-images .s1 {
	margin-left: 0;
}
#but2:checked ~ .slider-images .s1 {
	margin-left: -25%;
}
#but3:checked ~ .slider-images .s1 {
	margin-left: -50%;
}
#but4:checked ~ .slider-images .s1 {
	margin-left: -75%;
}

label:hover > div {
  background-color: rgba(253, 240, 49, 0.8);
	transition: box-shadow 0.3s ease-out;
}

#but1:checked ~ .slider-pick-description .t1 {
	margin-left: 0;
}
#but2:checked ~ .slider-pick-description .t1 {
	margin-left: -25%;
}
#but3:checked ~ .slider-pick-description .t1 {
	margin-left: -50%;
}
#but4:checked ~ .slider-pick-description .t1 {
	margin-left: -75%;
}

#but1:checked ~ .slider-pick .m1 {
  background-color: #fff;
  box-shadow: 0 0 0.375rem 0.25rem rgb(255 255 255 / 47%);
}
#but2:checked ~ .slider-pick .m2 {
  background-color: #fff;
  box-shadow: 0 0 0.375rem 0.25rem rgb(255 255 255 / 47%);
}
#but3:checked ~ .slider-pick .m3 {
  background-color: #fff;
  box-shadow: 0 0 0.375rem 0.25rem rgb(255 255 255 / 47%);
}
#but4:checked ~ .slider-pick .m4 {
  background-color: #fff;
  box-shadow: 0 0 0.375rem 0.25rem rgb(255 255 255 / 47%);
}

#but1:active ~ .slider-pick .m1 {
  background-color: orange;
}
#but2:active ~ .slider-pick .m2 {
  background-color: orange;
}
#but3:active ~ .slider-pick .m3 {
  background-color: orange;
}
#but4:active ~ .slider-pick .m4 {
  background-color: orange;
}

